@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer verRecurso;
@model ContactoModel
@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header class="masthead" id="masthead">
    <div class="container-fluid px-4 px-lg-5 d-flex h-100 align-items-center">
    <div class="card-header text-white">
            Eliminar Contacto
    </div>
    <div class="card-body">
        <!--Formulario para elimianr el registro recuperado con el id-->
        <form asp-action="Eliminar" asp-controller="Mantenedor" method="post">

            <input asp-for="IdContacto" type="hidden" class="form-control">
            <div class="alert alert-danger" role="alert">
                    ¿Desea eliminar el contacto @Html.DisplayTextFor(modelo => modelo.Nombre)?
            </div>
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a asp-action="Listar" asp-controller="Mantenedor" class="btn btn-warning">Volver a la Lista</a>
        </form>
    </div>
</div>
</header>



