@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer verRecurso;

@* 
@{
    ViewData["Title"] = "Privacy Policy";
} *@

<h1>@verRecurso["String1"]</h1>

<p>@verRecurso["String2"]</p>
